Repository boostcamp-2020/IssueTracker-39, pull requests merged in 2020-10, with the labels that each got.

#4 [CHORE] [#03] 리액트 환경설정
  .babelrc
  .gitignore
  frontEnd/.babelrc
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/public/index.html
  frontEnd/src/__tests__/LoginForm.test.js
  frontEnd/src/components/App.css
  frontEnd/src/components/App.js
  frontEnd/src/index.js
  frontEnd/src/setUpTest.js
  frontEnd/webpack.config.js
  package-lock.json
  package.json
  webpack.config.js
Labels: frontend

#41 Dev settings
  .gitignore
  backEnd/app.js
  backEnd/bin/www
  backEnd/package-lock.json
  backEnd/package.json
  backEnd/public/bundle.b0667731c0313d86dd67.js
  backEnd/public/index.html
  backEnd/routes/index.js
  backEnd/routes/users.js
  frontEnd/dist/bundle.b0667731c0313d86dd67.js
  frontEnd/dist/index.html
  frontEnd/webpack.config.js
Labels: backend, config

#43 [BE] Sequelize 초기 설정 및 Model 구현
  backEnd/.env.template
  backEnd/app.js
  backEnd/config/config.js
  backEnd/models/COMMENTS.js
  backEnd/models/ISSUES.js
  backEnd/models/LABELS.js
  backEnd/models/MILESTONES.js
  backEnd/models/USERS.js
  backEnd/models/index.js
  backEnd/package-lock.json
  backEnd/package.json
Labels: backend, config

#45 [BE][#21] 이슈 리스트 받아오기
  backEnd/app.js
  backEnd/controller/issue.js
  backEnd/routes/index.js
  backEnd/routes/issue.js
  backEnd/routes/users.js
  backEnd/service/issue.js
Labels: backend

#52 [FE]dev 서버 proxy 설정, 로그인 페이지 (Github) 구현
  frontEnd/src/components/App.css
  frontEnd/src/components/App.js
  frontEnd/src/components/GithubBtn.js
  frontEnd/src/images/github_logo.png
  frontEnd/src/index.js
  frontEnd/src/pages/login.js
  frontEnd/webpack.config.js
Labels: frontend

#64 [ADD] [#63] Header 컴포넌트 추가
  frontEnd/src/components/Header/Header.js
  frontEnd/src/components/Router/Router.js
  frontEnd/src/images/book-24px.svg
  frontEnd/src/pages/issueListPage.js
Labels: frontend

#74 [FE][#71] Filter Layout 구현
  frontEnd/src/images/magnifier.png
  frontEnd/src/pages/IssueListPage/IssueMain/IssueMainHeader/Filter/FilterDropdown.js
  frontEnd/src/pages/IssueListPage/IssueMain/IssueMainHeader/Filter/FilterInputBox.js
  frontEnd/src/pages/IssueListPage/IssueMain/IssueMainHeader/Filter/index.js
Labels: frontend

#76 [FE] Button List Layout 구현
  frontEnd/.babelrc
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/components/labelBtn/index.js
  frontEnd/src/components/labelBtn/labelBtnContainer.js
  frontEnd/src/components/labelBtn/labelBtnPresenter.js
  frontEnd/src/components/milestoneBtn/index.js
  frontEnd/src/components/milestoneBtn/milestoneBtnContainer.js
  frontEnd/src/components/milestoneBtn/milestoneBtnPresenter.js
  frontEnd/src/components/newIssueBtn/index.js
  frontEnd/src/components/newIssueBtn/newIssueBtnContainer.js
  frontEnd/src/components/newIssueBtn/newIssueBtnPresenter.js
  frontEnd/src/images/label.svg
  frontEnd/src/images/milestone.svg
  frontEnd/src/pages/IssueListPage/IssueMain/IssueMainHeader/ButtonList/index.js
Labels: frontend

#84 [#81] [#82] [#83] 리팩토링 & 테스트 코드 작성
  README.md
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/__tests__/issueListModelReducer.test.js
  frontEnd/src/__tests__/issueListModelTest.test.js
  frontEnd/src/components/CheckBoxWithDescription/CheckBoxWithPresenter.js
  frontEnd/src/components/Header/Header.js
  frontEnd/src/components/Issue/Issue.js
  frontEnd/src/components/IssueHeaderFilterButton/ButtonPresenter.js
  frontEnd/src/components/Router/Router.js
  frontEnd/src/components/labelBtn/index.js
  frontEnd/src/components/labelBtn/labelBtnContainer.js
  frontEnd/src/components/labelBtn/labelBtnPresenter.js
  frontEnd/src/components/milestoneBtn/index.js
  frontEnd/src/components/milestoneBtn/milestoneBtnContainer.js
  frontEnd/src/components/milestoneBtn/milestoneBtnPresenter.js
  frontEnd/src/components/newIssueBtn/index.js
  frontEnd/src/components/newIssueBtn/newIssueBtnContainer.js
  frontEnd/src/components/newIssueBtn/newIssueBtnPresenter.js
  frontEnd/src/models/issueListModel.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueList/IssueListHeader/index.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueList/index.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/ButtonList/index.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/Filter/FilterDropdown.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/Filter/FilterInputBox.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/Filter/index.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/index.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueNavigationList/index.js
  frontEnd/src/pages/issueListPage/IssueMain/index.js
  frontEnd/src/pages/issueListPage/issueListPage.js
Labels: frontend
