Repository boostcamp-2020/IssueTracker-39, pull requests merged in 2020-11, with the labels that each got.

#90 [#88] .png 로드한 컴포넌트 테스트시 발생하는 에러 && [#89] axios maker 불필요한 console.error
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/setUpTest.js
  frontEnd/src/utils/axios/axiosMaker.test.js
Labels: bug, frontend

#87 [TEST] Filter Dropdown 테스트 코드 작성
  README.md
  frontEnd/src/__tests__/FilterDropdown.test.js
  frontEnd/src/pages/issueListPage/IssueMain/IssueMainHeader/Filter/FilterInputBox.js
Labels: Test, frontend

#92 파일, 폴더, 컴포넌트 컨벤션 변경
  frontEnd/src/components/app/App.css
  frontEnd/src/components/app/App.js
  frontEnd/src/components/checkbox-with-description/CheckBoxWithContainer.js
  frontEnd/src/components/checkbox-with-description/CheckBoxWithPresenter.js
  frontEnd/src/components/checkbox-with-description/index.js
  frontEnd/src/components/github-btn/GithubBtn.js
  frontEnd/src/components/header/Header.js
  frontEnd/src/components/issue-header-filter-button/ButtonContainer.js
  frontEnd/src/components/issue-header-filter-button/ButtonPresenter.js
  frontEnd/src/components/issue-header-filter-button/index.js
  frontEnd/src/components/issue/Issue.js
  frontEnd/src/components/label-btn/LabelBtnContainer.js
  frontEnd/src/components/label-btn/LabelBtnPresenter.js
  frontEnd/src/components/label-btn/index.js
  frontEnd/src/components/label/Label.js
  frontEnd/src/components/labelBtn/index.js
  frontEnd/src/components/milestone-btn/MilestoneBtnContainer.js
  frontEnd/src/components/milestone-btn/MilestoneBtnPresenter.js
  frontEnd/src/components/milestone-btn/index.js
  frontEnd/src/components/milestoneBtn/index.js
  frontEnd/src/components/new-Issue-btn/NewIssueBtnContainer.js
  frontEnd/src/components/new-Issue-btn/NewIssueBtnPresenter.js
  frontEnd/src/components/new-Issue-btn/index.js
  frontEnd/src/components/newIssueBtn/index.js
  frontEnd/src/components/router/Router.js
  frontEnd/src/index.js
  frontEnd/src/models/IssueListDummy.js
  frontEnd/src/models/IssueListModel.js
  frontEnd/src/pages/IssueListPage/IssueMain/IssueList/IssueListHeader/index.js
  frontEnd/src/pages/IssueListPage/issueListPage.js
  frontEnd/src/pages/issue-list-page/IssueListPage.js
  frontEnd/src/pages/issue-list-page/issue-main/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-list/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-list/issue-list-header/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-main-header/button-list/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-main-header/filter/FilterDropdown.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-main-header/filter/FilterInputBox.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-main-header/filter/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-main-header/index.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-navigation-list/index.js
  frontEnd/src/pages/login.js
Labels: refactor

#94 폴더 이름 컨벤션 적용
  frontEnd/src/components/new-issue-btn/NewIssueBtnContainer.js
  frontEnd/src/components/new-issue-btn/NewIssueBtnPresenter.js
  frontEnd/src/components/new-issue-btn/index.js
  frontEnd/src/pages/IssueListPage/IssueMain/IssueList/IssueListHeader/index.js
  frontEnd/src/pages/IssueListPage/issueListPage.js
Labels: refactor

#100 이슈 리스트 API FE-BE 연결, 렌더링
  backEnd/controller/issue.js
  backEnd/seeders/dummyData.js
  backEnd/service/issue.js
  frontEnd/package.json
  frontEnd/src/__mocks__/fileMock.js
  frontEnd/src/__tests__/FilterDropdown.test.js
  frontEnd/src/__tests__/issueListModelReducer.test.js
  frontEnd/src/__tests__/issueListModelTest.test.js
  frontEnd/src/components/issue/Issue.js
  frontEnd/src/components/label/Label.js
  frontEnd/src/components/router/Router.js
  frontEnd/src/models/IssueListModel.js
  frontEnd/src/utils/axios/axiosMaker.js
  frontEnd/src/utils/timeManager.js
Labels: backend, frontend

#101 author 리스트 API 구현, app.js api 인증 중복코드 제거
  backEnd/app.js
  backEnd/controller/author.js
  backEnd/routes/api.js
  backEnd/routes/author.js
  backEnd/routes/issue.js
  backEnd/service/author.js
Labels: refactor

#109 [ADD][#98] Milestones List API
  backEnd/controller/milestone.js
  backEnd/routes/api/milestone.js
  backEnd/service/milestone.js
Labels: backend

#110 Assignee API 구현
  backEnd/controller/assignee.js
  backEnd/routes/api.js
  backEnd/routes/api/assignee.js
  backEnd/routes/api/author.js
  backEnd/routes/api/issue.js
  backEnd/routes/api/label.js
  backEnd/service/assignee.js
Labels: backend

#111 comment 리스트 API 작성, get list API COMBINE
  backEnd/controller/comment.js
  backEnd/routes/api.js
  backEnd/routes/api/author.js
  backEnd/routes/api/comment.js
  backEnd/service/comment.js
Labels: backend

#105 issue 개별 선택 혹은 전체 선택에 따른 selected 변화 구현
  .eslintrc.js
  frontEnd/src/components/checkbox-with-description/CheckBoxWithContainer.js
  frontEnd/src/components/checkbox-with-description/CheckBoxWithPresenter.js
  frontEnd/src/components/issue/Issue.js
  frontEnd/src/models/IssueListModel.js
  frontEnd/src/pages/issue-list-page/issue-main/issue-list/index.js
Labels: frontend

#114 author, label, milestone, assignee 필터 API
  backEnd/controller/issue.js
  backEnd/models/ISSUES.js
  backEnd/routes/api/issue.js
  backEnd/service/issue.js
Labels: backend

#122 Milestones Model 만들기
  frontEnd/src/components/milestone-btn/MilestoneBtnContainer.js
  frontEnd/src/components/router/Router.js
  frontEnd/src/models/MilestoneModel.js
Labels: frontend

#123 Assignee 모델 추가
  frontEnd/src/components/router/Router.js
  frontEnd/src/models/AssigneesModel.js
Labels: frontend

#128 버튼들에 대한 테스트 코드 작성
  frontEnd/src/__tests__/components/checkbox-with-description/checkBoxWithDescription.test.js
  frontEnd/src/__tests__/components/label-btn/labelBtnTest.test.js
  frontEnd/src/setUpTest.js
  frontEnd/src/test-data/getLabelList.js
Labels: frontend

#130 Filter API 수정
  backEnd/controller/issue.js
  backEnd/service/issue.js
Labels: backend

#137 테스트용 데이터 보충, 테스트 코드 유지보수
  frontEnd/src/__tests__/FilterButtonListDropDownTest.test.js
  frontEnd/src/__tests__/FilterDropdown.test.js
  frontEnd/src/__tests__/utils/reg.test.js
  frontEnd/src/setUpTest.js
  frontEnd/src/test-data/getAssigneeList.js
  frontEnd/src/test-data/getAuthorList.js
  frontEnd/src/test-data/getIssueList.js
  frontEnd/src/test-data/getLabelList.js
  frontEnd/src/test-data/getMilestoneList.js
  frontEnd/src/utils/axios/axiosMaker.js
Labels: Test, frontend

#159 Label Page 수정 클릭시 Input bar 생성, Label CUD API 구현
  backEnd/controller/label.js
  backEnd/routes/api/label.js
  backEnd/service/label.js
  frontEnd/src/components/label/LabelItem.js
  frontEnd/src/pages/label-page/LabelForm.js
  frontEnd/src/pages/label-page/LabelInputBox.js
  frontEnd/src/pages/label-page/LabelList.js
Labels: backend, frontend

#162 이슈생성 페이지 글자수 counter feature 추가
  frontEnd/src/components/create-issue/NewIssueContent.js
  frontEnd/src/components/router/Router.js
  frontEnd/src/models/TextareaModel.js
  frontEnd/src/pages/create-issue-page/CreateNewIssueForm.js
Labels: frontend

#167 Label Page CRUD 기능 연결, input Visibility 기능, Random Color 기능, Footer
  frontEnd/src/components/footer/Footer.js
  frontEnd/src/components/label/LabelItem.js
  frontEnd/src/images/randomImage.png
  frontEnd/src/models/LabelModel.js
  frontEnd/src/pages/issue-list-page/IssueListPage.js
  frontEnd/src/pages/label-page/CreateLabel.js
  frontEnd/src/pages/label-page/LabelForm.js
  frontEnd/src/pages/label-page/LabelInputBox.js
  frontEnd/src/pages/label-page/LabelList.js
  frontEnd/src/pages/label-page/index.js
  frontEnd/src/utils/getRandomColor.js
Labels: backend, frontend

#187 이슈생성 페이지 submit 버튼과 issue create API 연결
  backEnd/controller/issue.js
  backEnd/routes/api/issue.js
  backEnd/service/issue.js
  frontEnd/src/models/SidebarModel.js
  frontEnd/src/pages/create-issue-page/CreateNewIssueForm.js
Labels: backend, frontend
